* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.container_dashboard {
    display: flex;
    height: 100vh;
    background: linear-gradient(180deg, #262A33 0%, #2C2F3D 100%);
}